<div>
    Teste
</div>
<!--
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <div>
            <i class="pi pi-eye text-purple-500 text-xl icon-turquoise" style="font-size: 2.25rem"></i>
        </div>
        <div class="text-700 text-3xl font-medium mb-3">Crie seu acesso</div>
    </div>
    <br>
    <div>
        <div class="field col-12 md:col-4" style="margin-top: 10px;">
            <span class="p-float-label">
                <input type="text" id="matricula" pInputText class="w-full"> 
                <label for="matricula">Matrícula</label>
            </span>
            <br>
            <span class="p-float-label">
                <input type="text" id="email" pInputText class="w-full"> 
                <label for="email">E-mail</label>
            </span>
            <br>
            <span class="p-float-label" style="margin-top: 10px;">
                <input type="password" id="senha" pInputText class="w-full"> 
                <label for="senha">Senha</label>
            </span>
            <br>
            <span class="p-float-label">
                <input type="text" id="cpf" pInputText class="w-full"> 
                <label for="cpf">CPF</label>
            </span>
            <br>
            <span class="p-float-label">
                <p-autoComplete
                    inputId="curso"
                    [suggestions]="filteredCursos"
                    (completeMethod)="searchCursos($event)"
                    field="curso"
                ></p-autoComplete>
                <label for="curso">Curso</label>
            </span>
            <br>
            <span class="p-float-label">
                <p-inputMask
                    inputId="dataMatricula"
                    mask="99/99/9999"
                ></p-inputMask>
                <label for="dataMatricula">Ingresso em</label>
            </span>
        </div>
        
        <div class="text-center mb-3">
            <button pButton pRipple label="Entrar" icon="pi pi-sign-in"></button>
        </div>
        
    </div>
    
    <div>
        <p-divider></p-divider>
    </div>

    <div class="text-center mb-3 flex align-items-center justify-content-between mb-6" style="margin-top: 20px;">
        <span class="font-medium no-underline ml-2 text-600 text-right cursor-pointer">Dúvidas?</span>
        <a
            class="font-medium ml-2 text-blue-500 text-right cursor-pointer"
            style="text-decoration-line: underline;color: #fd7e14 !important;">Fale Conosco!</a>
        <div class="layout-sidebar-logo">
            <img width="30" style="vertical-align: middle" alt="logo-if" src="/assets/images/logo.svg">
        </div>
    </div>
</div>
-->